<!DOCTYPE html>
<html>

<head>
    <title>Flask App</title>
    <link rel="stylesheet" ,href="/static/style.css">
    <style>
        body {
            text-align: center;
            background-color: cornsilk;
            margin: 0;
            padding: 0;
            line-height: 1.6;
            color: darkolivegreen;
        }
    </style>
</head>

<body>
    <h1>Age Calculator</h1>
    <form method="POST" action="/calculate">
        <label>Enter Your Birth Year</label><br><br>
        <input type="number" name="birthyear">
        <input type="submit" value="Calculate Age">
    </form>
    {% if age %}
    <h3>Your Age is {{age}}</h3>
    {% endif %}

    {% if error %}
    <p style="color:red">{{error}}</p>
    {% endif %}
</body>

</html>