body {
    background-color: cornsilk;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: darkolivegreen;
}

header {
    background-color: darksalmon;
    padding: 10px 0;
    text-align: center;
    font-style: italic;
}

main {
    margin: 20px;
    text-align: center;
}

footer {
    background-color: indianred;
    padding: 10px 0;
    text-align: center;
    font-style: italic;
}